@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

body p,
body li,
body dt {
  line-height: 1.8rem;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 1rem;
}

header nav {
  margin-bottom: 1rem;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem;
  margin: 0;
}

header nav ul li {
  padding: 1rem 2rem;
  background-color: rgba(34, 66, 41, 1);
  border: solid;
  border-color: rgba(255, 255, 255, 1);
  border-width: thin;
  transition-property: all;
  transition-duration: .2s;
}

header nav ul li:hover,
header nav ul li:focus {
  transform: scale(1.08);
  background-color: rgba(42, 97, 54, 1);
  border-radius: 3px;
}

header nav ul li a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

main {
  padding: 0 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product {
margin: 0 0 1rem;
}

.big-image {
  margin-bottom: .5rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0 0 1rem;
}

.price {
  font-size: 2rem;
  margin: 0 0 1rem;

}

.short-description {
  margin: 0 0 1rem;
}

.buy {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(34, 66, 41, 1);
  transition-property: all;
  transition-duration: .2s;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.buy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 1rem 9.5rem;
    font-weight: bolder;
}

.buy:hover,
.buy:focus {
  transform: scale(1.05);
  background-color: rgba(42, 97, 54, 1);
}

.whats-included {
  margin: 0 0 1rem;
}

h3 {
  font-weight: 300;
}

.whats-included h3,
.reviews h3,
.description h3,
.details-care,
.also-browsed h3 {
  margin: 0 0 1rem;
  padding: 0 0 .5rem;
  border-bottom: solid;
  border-color: rgba(209, 225, 216, 1);
  border-width: thin;
}
.whats-included ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.whats-included ul li {
  list-style-type: none;
  padding: 0 0 1rem;
}

.reviews p {
  background-color: rgba(209, 225, 216, 1);
  padding: 1rem;
}

.details dl dt {
    float: left;
    width: 30%;
    text-align: left;
    clear: left;
}
.details dl dd {
    float: left;
    width: 60%;
    padding: .25em 0;
}

.details dl {
  padding: 0 0 1rem;
}
.also-browsed h3 {
  margin-bottom: 1.5rem;
}

.also-browsed {
  margin-bottom: 5rem;
}

.other-plants {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.other-plants-div img {
  margin: 0 0 .25rem;
}

.other-price {
  margin: 0 0 .075rem;
  font-size: 1.2rem;
}

.plant-names {
  margin: 0 0 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgba(34, 66, 41, 1);
  color: rgba(255, 255, 255, 1);
  padding: 1rem;
}
/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
